__pycache__
.cursor/
build/
mseed/
log/
phasenet/test_data
site/
output*/
result*/
*.pyc
*.png
*.egg-info
*.ipynb_checkpoints
._.DS_Store
.DS_Stores
test_data
dataset_phasenet_aug/npz/
dataset_phasenet_aug/npz_padded/
dataset_phasenet_aug/waveform/
